@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Rubik&display=swap');

* {
    margin: 0;
    padding: 0
}

.banner {
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    background-size: cover;
    background-position: center;
    
}

.header {
    height: 88px;
}

.navbar {
    margin: auto;
    padding: 7px 7px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Logo {
    cursor: pointer;
}

.navList {
    font-family: 'Nunito', sans-serif;
    font-size: 18px;
    font-weight: 600;
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
    position: relative;
}

.navbar ul li a {
    text-decoration: none;
    color : darkcyan;
    text-transform: uppercase;
}

.navbar ul li::after {
    content: '';
    height: 3px;
    width: 0;
    background: black;
    position: absolute;
    left: 0;
    bottom : -7px;
    transition: 0.4s;
}

.navbar ul li:hover::after {
    width: 100%;
}

.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: black;
    font-family: 'Rubik', sans-serif;
}

.content h1 {
    font-size: 30px;
}

.content p{
    margin: 5px auto;
    font-weight: 200;
    line-height: 25px;
    font-size: 18px;
}